<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header">
  <div><a href="https://www.positronx.io" target="_blank" class="positronx">Virtual Library</a></div>
  <span class="nav-tool-items">
    <a mat-button routerLink="login" routerLinkActive="active" [hidden]="isLogged()">Login</a>
    <div *ngIf="isLogged()" class="logged-icons">
      <span><mat-icon>person</mat-icon>{{userName}}</span>
      <button mat-icon-button (click)="logout()" [hidden]="!isLogged()">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
    <!--<a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>-->
  </span>
</mat-toolbar>
<router-outlet></router-outlet>